@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap);


:root {
  --color-white: #f8f8ff;
  --color-dark-grey: #5F6366;
  --color-react-logo: #6fcff0;
  --color-dark-blue: #4D6D9A;
  --color-pinkish: #EDB5BF;
  --color-dull-blue: #86B3D1;
}


html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    background-color: var(--color-dark-blue);
}

#true-page-header{
    font-size: 4rem;
    text-align: center;
    background-color: var(--color-react-logo);
    padding: 3rem;
    margin-top: 0;
    color: black;
    font-family:  'Fredoka One', cursive;
}

#form-div {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin: 0 auto 0 auto;
}

/*Row container holds left and right columns.*/
.row {
    display: flex;
    margin: 0 2vw 0 2vw; /*pad left and right sides.*/
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 48%;
  border: 1px solid black;
  font-size: 1.4rem;
}

/* Some space between the 2 main columns. */
.spacer{
    flex: 4%;
}

#editor-form{
    padding: 10px;
}

#preview {
    padding: 10px;
}

.editor-page{
    background-color: var(--color-dull-blue);
}

#editor {
    width: 40vw;
    height: 90vh;
}

.true-h2 {
    text-align: center;
    font-size: 3.5rem;
    background-color: var(--color-pinkish);/*var(--color-react-logo);*/
    padding: 3rem;
    margin-top: 0;
    color: black;
    font-family: 'Fredoka One', cursive;
}

.preview-result-page {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
}

.preview-result-page a {
    color: var(--color-pinkish);     
}


textarea {
    padding: 1rem;
}